<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map_canvas {
	height: 100%
}
</style>
<link rel="shortcut icon" type="image/x-icon" href="http://niebezpiecznik.pl/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/site_media/spectrum.css">
<script src="/site_media/js/utils.js"></script>
<script src="/site_media/js/jquery-1.8.3.js"></script>
<script src="/site_media/js/spectrum.js"></script>
<script type="text/javascript"
	src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXQPCdAk1bBOqVaEbyBX7CAMFLrUkS4WM&sensor=true&libraries=drawing">
	
</script>

<script type="text/javascript">
	var markersArray = [];
	var map;
	var infoWindow = new google.maps.InfoWindow;
	var triangleCoords = [];
	var circles = [];
	var markers = [];
	var polygons = [];
	var selectedMarker;

	function initialize() {
		$("#markerInfoDiv").hide();
		
		//getPoints();
		var mapOptions = {
			center : new google.maps.LatLng(51.397, 21.644),
			zoom : 5,
			streetViewControl : true,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"),
				mapOptions);

		//draw
		drawingManager = new google.maps.drawing.DrawingManager({
			drawingMode : google.maps.drawing.OverlayType.DEFAULT,
			drawingControl : true,
			drawingControlOptions : {
				position : google.maps.ControlPosition.TOP_CENTER,
				drawingModes : [ 
				        google.maps.drawing.OverlayType.MARKER/*,
						google.maps.drawing.OverlayType.POLYLINE,
						google.maps.drawing.OverlayType.CIRCLE,
						google.maps.drawing.OverlayType.RECTANGLE,
						google.maps.drawing.OverlayType.POLYGON */
						]
			},
			circleOptions : {
				editable : false,
				clickable : true,
				strokeColor : '#FF0000',
				strokeOpacity : 0.8,
				strokeWeight : 2,
				fillColor : '#FF0000',
				fillOpacity : 0.35,
			},
			rectangleOptions : {
				editable : true
			},
			polygonOptions : {
				editable : true
			},
			markerOptions : {
				editable : true
			}
		});
		drawingManager.setMap(map);

		google.maps.event.addDomListener(drawingManager, 'circlecomplete',
				function(circle) {
					circles.push(circle);
				});
		google.maps.event.addDomListener(drawingManager, 'markercomplete',
				function(marker) {
					var title = $("#markerInfoDiv #markerTitle").val();
					marker.setTitle(title);
					console.log(marker);
					markers.push(marker);
				});
		google.maps.event.addListener(drawingManager, 'drawingmode_changed', 
				function() {
					$("#markerInfoDiv").hide();		
					if(drawingManager.drawingMode=="marker"){
						$("#markerInfoDiv").show();
					}
				});
		
		google.maps.event.addDomListener(drawingManager, 'polygoncomplete',
				function(marker) {
					polygons.push(marker);
				});

		google.maps.event.addDomListener(savebutton, 'click', circleEvent);
		google.maps.event.addDomListener(updatebutton, 'click', updateMarker);
		getMarkers();
	}

	function updateMarker(){
		console.log("update marker");
		var markerTitle = $("#markerTitle").val();
		var markerId = $("#markerId").val();
		var request = "\"{\\\"marker\\\":{\\\"id\\\":\\\""+markerId+"\\\",\\\"title\\\":\\\""+markerTitle+"\\\"}}\"";
		console.log(request);
		$.ajax({
            url: "/map/ajaxUpdate/",
            type: "POST",
            beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'))
			},
            data:{"data":request},
            datatype: "json",
            success : function(response,
					textStatus, jqXHR) {
            	selectedMarker.title = markerTitle; 
				console.log(response.success);
			},
			error : function(jqXHR, textStatus,
					errorThrown) {
				console.log(
						"The following error occured: "
								+ textStatus,
						errorThrown);
			},
			complete : function() {
				console.log(3);
			}
        });
	}
	
	function circleEvent() {
		console.log('here data goes to database');
		document.getElementById("savedata").value = "";
		var jsonString = "\"{";
		var jsonObj = {};
		var jsonMarkers = {};
		
		jsonString = jsonString+"\\\"marker\\\":[";
		for ( var i = 0; i < markers.length; i++) {
			if(markers[i].metadata){
				id = markers[i].metadata.id;
			}else{
				id=-1;
			}
			title = markers[i].getTitle();
			document.getElementById("savedata").value += "marker("
					+ id + ", "
					+ markers[i].position.lng().toFixed(3) + ", "
					+ markers[i].position.lat().toFixed(3) + "),\n";
			jsonMarkers[i]={'lng':markers[i].position.lng().toFixed(3),'lat':markers[i].position.lat().toFixed(3)};
			jsonString = jsonString+"{\\\"id\\\":"+id+",\\\"title\\\":\\\""+title+"\\\",\\\"lng\\\":"+markers[i].position.lng().toFixed(3)+",\\\"lat\\\":"+markers[i].position.lat().toFixed(3)+"},";
		}
		jsonString = jsonString.substring(0, jsonString.length - 1);
		jsonString = jsonString+"]";
		jsonObj['marker']=jsonMarkers;
		console.log(jsonObj);
		for ( var i = 0; i < circles.length; i++) {
			var circleCenter = circles[i].getCenter();
			var circleRadius = circles[i].getRadius();
			document.getElementById("savedata").value += "circle((";
			document.getElementById("savedata").value += circleCenter.lat()
					.toFixed(3)
					+ "," + circleCenter.lng().toFixed(3);
			document.getElementById("savedata").value += "), ";
			document.getElementById("savedata").value += circleRadius
					.toFixed(3)
					+ ")\n";
		}
		for ( var i = 0; i < polygons.length; i++) {
			document.getElementById("savedata").value += "polygon(";
			var path = polygons[i].getPath();
			for ( var j = 0; j < path.length; j++) {
				document.getElementById("savedata").value += "("
						+ path.getAt(j).lng().toFixed(3) + ","
						+ path.getAt(j).lat().toFixed(3) + "),";
			}
			document.getElementById("savedata").value += "),\n";
		}
		jsonString = jsonString+"}\"";
		
		$.ajax({
            url: "/map/ajaxAction/",
            type: "POST",
            beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'))
			},
            data:{"data":jsonString},
            datatype: "json",
            success : function(response,
					textStatus, jqXHR) {
				console.log(response.success);
			},
			error : function(jqXHR, textStatus,
					errorThrown) {
				console.log(
						"The following error occured: "
								+ textStatus,
						errorThrown);
			},
			complete : function() {
				console.log(3);
			}
        });
	}
	
	function createMarker(){
		
	}
	
	function getMarkers(){
		{% for marker in markers %}
			var newMarker = createMarker(new google.maps.LatLng({{marker.lat}}, {{marker.lon}}),"{{marker.title}}",{{marker.id}});
			markers.push(newMarker);
		{% endfor %}
	}
	$(function(){
		$("#flat").spectrum({
			change: function(tinycolor) {console.log(tinycolor.toHexString()) },
		});
	});
	
    function createMarker(latlng, title, id) {
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        clickable : true,
		draggable : true,
		title : title
        });
    marker.metadata={'id':id};
    google.maps.event.addListener(marker, 'click', function() {
    	$("#markerTitle").val(marker.title);
    	$("#markerId").val(marker.metadata.id);
		$("#markerInfoDiv").show();
		selectedMarker = marker;
        });
    return marker;
}

	
</script>
</head>
<body style="width:1220px;" onload="initialize()">
<input type='text' id="flat" />
<div style="width:400px;float:right;" id="markerInfoDiv">
  <fieldset style="width:400px;">
  	<input type="hidden" id="markerId" name="markerId" value="-1">
    <legend>Marker info:</legend>
    Title: <input type="text" id="markerTitle"><br>
    Description: 
    <textarea rows="4" cols="40" id="markerDescription">
	</textarea><br>
    Icon: <input type="text">
  </fieldset>
  <button id="updatebutton">Update</button>
</div>
	<p>Zapisz</p>
	<button id="savebutton">SAVE</button>
	<textarea id="savedata" rows="5" cols="90"></textarea>
	<div id="map_canvas" style="width: 800px; height: 500px"></div>
	<div id="statusDiv" style="width: 800px; height: 100px"></div>
</body>
</html>